@import 'css/bootstrap4/bootstrap.min.css';
@import 'css/font-awesome-4.7.0/css/font-awesome.min.css';
@import 'css/main_styles.css';
@import 'css/responsive.css';
@import 'css/categories_styles.css';
@import 'css/categories_responsive.css';
@import 'css/single_styles.css';
@import 'css/single_responsive.css';
@import 'css/themify-icons.css';
@import 'css/contact_styles.css';
@import 'css/contact_responsive.css';